.flex-1 {
    flex: 1 !important;
    min-width: 0;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.section-gap {
    margin-top: map-get($sizing, lg);
}
.section-pad {
    padding-top: map-get($sizing, lg);
}

.uppercase {
    text-transform: uppercase;
}

.font-10 {
    @include font-size(10px);
}
.font-11 {
    @include font-size(11px);
}
.font-12 {
    @include font-size(12px);
}
.font-14 {
    @include font-size(14px);
}

.font-bold {
    font-weight: 700;
}

@each $name, $size in $sizing {
    .ml-#{$name} {
        margin-left: $size;
    }
    .mr-#{$name} {
        margin-right: $size;
    }
    .mt-#{$name} {
        margin-top: $size;
    }
}

@each $name, $color in $colors {
    .color-#{$name} {
        color: $color;
    }
    .#{$name}-color {
        color: $color;
    }
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}
